@import '../../styles/responsive';
@import '../../styles/mixins';

.collaborator {
	position: relative;
	&:hover,
	&:focus {
		& .collaborator__info {
			@include desktop {
				display: grid;
			}
		}
	}
	&__profile {
		display: grid;
		gap: 4px;
		justify-items: center;
		text-align: center;
		&__photo {
			@include profile-image(3px);
		}
		&__name {
			font-size: 0.9375rem;
			font-weight: 400;
			color: #171c54;
		}
	}
	&__info {
		display: none;
		min-width: 590px;
		padding: 20px;
		border-radius: 8px;
		grid-template-columns: auto 1fr;
		gap: 20px;
		position: absolute;
		left: calc(100% + 10px);
		bottom: -32px;
		background-color: #eff4ff;
		box-shadow: 0px 4px 4px 0px rgba(1, 18, 67, 0.08);
		animation: info 0.3s ease-in-out;
		z-index: 1;
		@keyframes info {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
		&__profile {
			display: grid;
			gap: 8px;
			height: max-content;
			justify-items: center;
			text-align: center;
			&__photo {
				@include profile-image(6px);
			}
			&__name {
				font-size: 1.125rem;
				font-weight: 700;
				color: #171c54;
			}
		}
		&__tracks {
			text-align: left;
			&__title {
				display: flex;
				align-items: center;
				min-height: 34px;
				padding: 0px 16px;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.25rem;
				color: #333333;
			}
			&__track {
				display: grid;
				gap: 4px;
				padding: 8px 16px;
				&__title {
					font-size: 1rem;
					font-weight: 400;
					color: #171c54;
				}
				&__artists {
					font-size: 0.75rem;
					font-weight: 300;
					color: #021a5e;
				}
			}
		}
	}
}
