@import '../../styles/responsive';

.tabs {
	display: flex;
	&__button {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		height: 28px;
		padding: 0 24px;
		position: relative;
		font-size: 0.875rem;
		line-height: 1.25rem;
		background: none;
		border: none;
		cursor: pointer;
		color: var(--text-9);
		transition: 0.2s;
		&.active {
			color: var(--primary-color);
			font-weight: 700;
			& .tabs__button__text {
				color: inherit !important;
				border-bottom: none !important;
			}
		}
		&:hover {
			& .tabs__button__text {
				color: var(--text-5);
				border-bottom: 1px solid var(--text-5);
			}
		}
		&__text {
			height: 100%;
		}
		&__line {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			background: var(--primary-color);
		}
	}
}

.form {
	display: grid;
	gap: 24px;
	justify-items: flex-end;
	&__content {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 32px;
		row-gap: 24px;
		width: 100%;
		padding: 24px;
		padding-bottom: 38px;
		border-radius: 10px;
		background-color: rgb(191, 210, 254, 0.2);
		@include desktop {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.modal {
	display: grid;
	justify-items: center;
	text-align: center;
	gap: 24px;
	&__title {
		font-size: 1.125rem;
		font-weight: 900;
		line-height: 1.375rem;
		color: var(--text-6);
	}
	&__text {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.25rem;
		color: var(--text-9);
	}
}
