@import '../styles/responsive';

.home {
	display: grid;
	min-height: 100vh;
	grid-template-columns: auto 1fr;
	background-color: var(--background);
	@include desktop {
		padding-right: 20px;
	}
	&__main {
		display: grid;
		gap: 20px;
		width: 100%;
		min-height: 100vh;
		margin: 0 auto;
		padding: 40px 20px;
		@include desktop {
			grid-template-columns: 305px 1fr;
		}
		&__content {
			display: grid;
			gap: 24px;
			height: max-content;
		}
	}
}
