.input {
	--error-color: #fc3133;
	display: grid;
	gap: 6px;
	height: max-content;
	&__label,
	&__error {
		font-size: 0.75rem;
		font-weight: 400;
		color: #242731;
		line-height: 0.8938rem;
	}
	&__element {
		padding: 0 13px;
		min-height: 35px;
		border-radius: 4px;
		border: 1px solid #85acfd;
		font-size: 0.875rem;
		font-weight: 1.3938rem;
		background: transparent;
		color: #242731;
		&::placeholder {
			color: #71839b;
		}
	}
	&__error {
		color: var(--error-color);
	}
}
