@import '../../../styles/mixins';

.input {
	@include input-base;
	&__element {
		width: 100%;
		padding: 0 13px;
		min-height: 35px;
		border-radius: 4px;
		border: 1px solid #85acfd;
		font-size: 0.875rem;
		font-weight: 1.3938rem;
		background: transparent;
		font-family: inherit;
		color: var(--text-9);
	}
}
