@mixin profile-image($boderSize: 10px, $shadow: false) {
	margin: $boderSize;
	border: $boderSize solid transparent;
	width: max-content;
	height: max-content;
	border-radius: 50%;
	background: none;
	transition: 0.2s;
	box-shadow: 0 0 0 $boderSize var(--primary-color);
	&:hover {
		box-shadow: 0 0 0 calc(#{$boderSize} * 1.5) var(--primary-color);
	}
	&__img {
		object-fit: cover;
		border-radius: 50%;
		@if ($shadow) {
			box-shadow: 0px 25.63px 76.9px 0px rgba(20, 20, 43, 0.161);
		}
		vertical-align: top;
	}
}

@mixin input-base {
	--error-color: #fc3133;
	display: grid;
	gap: 6px;
	height: max-content;
	&__label,
	&__error {
		font-size: 0.75rem;
		font-weight: 400;
		color: #242731;
		line-height: 0.8938rem;
	}
	&__error {
		color: var(--error-color);
	}
}
